:root {
  /**
   * Font families
   */
  --font-system-ui: system-ui, sans-serif;
  --font-monospace-code:
    Dank Mono, Operator Mono, Inconsolata, Fira Mono, ui-monospace, SF Mono,
    Monaco, Droid Sans Mono, Source Code Pro, Cascadia Code, Menlo, Consolas,
    DejaVu Sans Mono, monospace;
  --font-rounded-sans:
    ui-rounded, Hiragino Maru Gothic ProN, Quicksand, Comfortaa, Manjari,
    Arial Rounded MT, Arial Rounded MT Bold, Calibri, source-sans-pro,
    sans-serif;
  --font-sans: var(--font-system-ui);
  --font-serif: ui-serif, serif;
  --font-mono: var(--font-monospace-code);
  --font-body: "Raleway", var(--font-rounded-sans);
  --font-heading: "Raleway", var(--font-rounded-sans);
  --font-display: "Sniglet", var(--font-rounded-sans);
  /**
   * Font weights
   */
  --font-thin: 100;
  --font-extralight: 200;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
  --font-black: 900;
  /**
   * Line heights
   */
  --leading-none: 0;
  --leading-tight: 1.1;
  --leading-normal: 1.5;
  /**
   * Fluid type scale
   * @link https://utopia.fyi/type/calculator?c=640,18,1.2,1280,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
   */
  --step--2: clamp(0.7813rem, 0.7625rem + 0.0469vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.875rem + 0.1563vw, 1rem);
  --step-0: clamp(1.125rem, 1rem + 0.3125vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.1375rem + 0.5313vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.2869rem + 0.8328vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.4466rem + 1.2435vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 1.6138rem + 1.7974vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 1.784rem + 2.5383vw, 3.8147rem);
}
