p-header {
  container: header / inline-size;
  inset-block-start: 0;
  position: sticky;

  img {
    block-size: auto;
    inline-size: initial;
    max-block-size: initial;
    max-inline-size: 100%;
  }
}

@container header (width >= 768px) {
  p-header.is-stuck img {
    block-size: initial;
    inline-size: auto;
    margin-inline: auto;
    max-block-size: 100%;
    max-inline-size: initial;
  }
}

#evening-menu-items,
#pasta-of-the-day-items {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-inline-start: 0;
  row-gap: var(--space-xs);

  & > li {
    display: grid;
    column-gap: var(--grid-gutter);
    grid-template-areas:
      "label  price"
      "description description";
    grid-template-columns: 1fr auto;
    padding-inline-start: 0;
    row-gap: var(--space-2xs);

    & > div {
      &.label {
        font-style: italic;
        grid-area: label;
        text-wrap: pretty;
      }
      &.price {
        grid-area: price;
      }
      &.description {
        grid-area: description;
      }
    }
  }
}

#ingredients-explainer {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-s);
}

ul.ingredients {
  display: flex;
  list-style: none;
  padding-inline-start: 0;
  column-gap: var(--space-2xs);

  & > li {
    padding-inline-start: 0;
  }
}

dl.ingredients {
  align-items: baseline;
  display: grid;
  gap: var(--space-2xs);
  grid-template-columns: auto 1fr auto 1fr auto 1fr;

  & > dt {
    margin-top: 0;
  }

  & > dl {
    font-size: var(--step--1);
  }
}

abbr.ingredient {
  align-items: center;
  aspect-ratio: 1 / 1;
  background-color: light-dark(var(--blue-3), var(--blue-8));
  block-size: var(--space-s);
  display: flex;
  font-size: var(--step--2);
  font-weight: var(--font-bold);
  inline-size: var(--space-s);
  justify-content: center;
}
