@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;

    --link: var(--blue-7);
    --link-visited: var(--blue-8);

    --text-1: var(--gray-12);
    --text-2: var(--gray-7);
    --text-3: var(--blue-4);

    --surface-1: var(--gray-0);
    --surface-2: var(--gray-2);
    --surface-3: var(--gray-3);
    --surface-4: var(--gray-4);
    --surface-5: var(--blue-1);

    --scrollthumb-color: var(--gray-7);

    /* Button */
    --btn-accent: initial;
    --btn-text: var(--text-1);

    --btn-bg: var(----surface-1);
    --btn-border: var(--surface-3);

    --btn-highlight: color-mix(in oklab, var(--gray-4) 25%, transparent);

    --btn-ink-shadow: 0 1px 0 var(--gray-3);

    --btn-icon-color: var(--_accent, var(--link));

    /* Dialog */
    --dialog-bg: var(--surface-1);
  }

  .btn,
  button,
  input:is([type="button"], [type="submit"], [type="reset"]) {
    &[disabled] {
      --btn-bg: none;
      --btn-text: var(--gray-6);
    }
  }
}
